* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#app {
    position: absolute;
    left: 200px;
    top: 10px;
    width: 600px;
    height: 600px;
    border: 1px solid #ccc;
}
#controls {
    position: absolute;
    width: 150px;
    top: 10px;
    left: 10px;
}
#controls > button {
    display: block;
    width: 100%;
    text-align: left;
}
#controls > hr {
    margin: 5px 0;
}
#controls > input,
#controls > select {
    width: 100%;
    display: block;
}
.msp-animation-viewport-controls {
    visibility: hidden;
}
